.row{
    width: 100%;
    display: table;
}
.row #prodPlanLIne
{
    width:100% !important;
    margin-top: 0%;
    margin-left: 1%;
}
.row #prodPlanLIneID
{
    width:100% !important;
    margin-top: 0%;
    margin-left: 1%;
}
.row #sellable_product_line{
    width:100% !important;
}

#prodPlanSubProdID
{
    width:100% !important;
    margin-left:5%;
}
.default-color{
    /*background-color: #eee !important;*/
    color: #5e5e5e;
}

.warning-class {
    /*background-color: red !important;*/
    color: red;
}